{% extends 'products/base.html' %}

{% block content %}
    <h1>Log-in</h1>
    <p>Please, log in</p>
    {% if data %}
        <p style="color: red">{{ data }}</p>
    {% endif %}
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Log-in"></p>
        <a href="{% url 'products:register' %}"><input type="button" value="Register"></a>
        <input type="hidden" name="next" value="{{ request.GET.next }}"/>
    </form>
{% endblock %}